.input_width{
    width: 100%;
}
.labelcss{
    font-size: 0.75rem;
    
    color: rgb(68 68 68);
    padding-top: 30px;
}
.header_heading{
    font-size: 1.25rem;
    font-weight: 300;
}
.button_div{
    text-align: right;
}
.button_div_margin{
    margin-top: 35px;
}
.button_save{
    width: 20%;
    font-size: 15px;
}
.account_information{
    background-color: rgb(243 243 243);
   
    padding: 10px;
}
.combox{
    margin-top: 26px;
}
.textarea_margin{
    margin-top:26px ;
}